:root {
    --red: #EE3D17;
    --blue: #1E9AEE;
    --marine: #17EECA;

    --background1: #2D3140;
    --background2: #555D78;
    --background3: #D9E2FF;
    --background4: #eff2ff;

    --gray1: #000000;
    --gray2: #666666;
    --gray3: #b1b1b1;
    --gray4: #CCCCCC;
    --gray5: #eeeeee;
    
}